{% extends "../base.html" %}
{% load static %}

{% block title %}
<title>Login</title>
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock style %}

{% block javscript %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock javscript %}

{% block content %}
<header>
    <div class="container">
        <div class="header-inner">
            <div class="site-logo">
                <div class="header__logo">T</div>
                <span>Topshiriq Menejeri</span>
            </div>
            <div class="site-time">
                <p class="day"></p>
                <p class="month"></p>
                <p class="year" style="margin: 0 5px;"></p>
                <b class="hour"></b>
                <b class="minute"></b>
                <b class="second"></b>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <div class="main-inner">
            <div class="main__left">
                <img class="main__image" src="{% static 'image/Login.svg' %}" alt="Login image">
            </div>
            <div class="main__right">
                <form class="main__form" method="post" action="{% url 'account:login' %}">
                    {% csrf_token %}
                   
                    <span class="form__title title">Kirish formasi </span>
                    <p class="form__text">Ro'yhatdan o'tish vaqtida foydalangan telefon raqamingiz va parolingizdan
                        foydalanib tizimga kiring.</p>
                    <label class="main__form--label">
                        <input class="main__form--input" type="text" placeholder="Login *" name="usernname">
                        <input class="main__form--input" type="password" placeholder="Parol *" name="password">
                        <button type="submit" class="main__form--button">Kirish</button>
                        <span class="mx-3">Sizda akkaunt yo'qmi? <a
                            href="{% url 'account:register' %}">Ro'yxatdan o'tish</a>
                    </span>
                    </label>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock content %}