{% extends "../base.html" %}
{% load static %}

{% block title %}
<title>Registratition</title>
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock style %}

{% block javscript %}
<script src="{% static 'js/register.js' %}"></script>
{% endblock javscript %}

{% block content %}
<header>
    <div class="container">
        <div class="header-inner">
            <div class="site-logo">
                <div class="header__logo">T</div>
                <span>Topshiriq Menejeri</span>
            </div>
            <div class="site-time">
                <p class="day"></p>
                <p class="month"></p>
                <p class="year" style="margin: 0 5px;"></p>
                <b class="hour"></b>
                <b class="minute"></b>
                <b class="second"></b>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <div class="main-inner">
            <div class="main__left">
                <div class="slideshow_container">
                    <div class="mySlides fade">
                        <img src="{% static 'image/Register_1.svg' %}" class="slideshow__image"
                            alt="Registratition image_1">
                        <p>Dasturlashdagi bilimlaringizni Topshiriqlar Menejeri orqali topshiriqlarni bajarish bilan
                            mustahkamlang.</p>
                    </div>
                    <div class="mySlides fade">
                        <img src="{% static 'image/Register_2.svg' %}" class="slideshow__image"
                            alt="Registratition image_2">
                        <p>Kreativ fikrlash , mantiqiy fikrlash va to'qnash keladigan muammolarga yechim topishdagi ko
                            nikmalaringizni oshiring.</p>
                    </div>
                    <div class="mySlides fade">
                        <img src="{% static 'image/Register_3.svg' %}" class="slideshow__image"
                            alt="Registratition image_3">
                        <p>Bizning topshiriqlar fikrlash doirangizni kengaytiradi va siz oldin ko'rmagan narsalaringizni
                            ham ko'ra
                            boshlaysiz.</p>
                    </div>
                </div>
                <div class="slideshow__dots">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                </div>
            </div>
            <div class="main__right">
                <form class="main__form" method="post">
                    {% csrf_token %}
                    <span class="form__title title">Ro'yhatdan o'tish formasi</span>
                    <label class="main__form--label">
                        <input class="main__form--input" type="text" placeholder="Ism & Familya" name="full_name">
                        <input class="main__form--input" type="date" placeholder="Tug'ilgan sana" name="'birthday">
                        <input class="main__form--input" type="text" placeholder="Yo'nalish" name="direction" list="Country">
                        <datalist id="Country">
                            {% for direction in direction %}
                            <option value="{{ direction }}"></option>
                            {% endfor %}
                        </datalist>
                        <input class="main__form--input" type="text" placeholder="Telefon *">
                        <input class="main__form--input" type="password" placeholder="Parol *">
                        <input class="main__form--input" type="password" placeholder="Parol takroran *">
                        
                        <button class="main__form--button">Ro'yhatdan o'tish</button>
                    </label>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock content %}