{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}
    {% endblock title %}

    {% block style %}
    {% endblock style %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>

    {% block content %}
    {% endblock content %}

    <footer>
        <div class="container">
            <div class="footer-inner">
                <span>RoboCode IT Academy 2023</span>
                <div class="footer__social-networks">
                    <i class="footer__apps fab fa-facebook"></i>
                    <i class="footer__apps fab fa-instagram"></i>
                    <i class="footer__apps fab fa-telegram"></i>
                    <i class="footer__apps fab fa-youtube"></i>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

    {% block javascript %}
    {% endblock javascript %}

</body>

</html>